body{
	background-color: #E6E6E6;
	font: 14px Calibri;
	margin: auto;
	text-align: center;
	height: 100%;
}

html {
	height: 100%;
}

caption{
	text-align: left;
}

h2{
	padding: 0px;
	margin: 0px;
}

table.principal{
	background-color: white;
	text-align: center;
	margin-left: auto; 
	margin-right: auto;	
	border-spacing: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	max-width: 1000px;
}

tr.principal_cabezera{
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:80px;
}

td.principal_cabezera{
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:100%;
}

table.cabezera{
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:100%;
}

tr.cabezera{
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:100%;
}

td.cabezera_logo{
	background-color: White;
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:35%;
	height:100%;
}

td.cabezera_menu{
	background-color: White;
	text-align: right;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:65%;
	height:100%;
}

table.cabezera_menu{
	background-color: White;
	text-align: center;
	vertical-align:top;
	margin: 0px;
	border-spacing: 2px;
	padding:0px;
	width:100%;
	height:100%;
}

td.menu{
	background-color: #CCCCCC;
	text-align: center;
	vertical-align:middle;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:20%;
	height:40px;
}

td.menu_select{
	background-color: #33339F;
	text-align: center;
	vertical-align:middle;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:20%;
	height:40px;	
}

a.menu{
	color: black;
	font-size: 20px;
	font-weight: bold;
}

a.menu:hover{
	color: black;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

a.menu_select{
	color: white;
	font-size: 20px;
	font-weight: bold;
}

a.menu_select:hover{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
}


p, li{
	text-align: justify;
	color: black;
	text-decoration: none;
}


tr.principal_banner{
	background-color: White;
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:125px;
}

table.banner{
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:100%;
}

tr.banner{
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:50%;
}

tr.banner2{
	border-spacing: 0px;
	padding:0px;
	width:100%;
}

td.banner{
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:70%;
	height:50%;
	color: white;
	font-size: 30px;
	vertical-align: bottom;
	background-color: #33339F;
}

td.banner3{
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:70%;
	height:50%;
	color: white;
	font-size: 25px;
	vertical-align: top;
	text-decoration: overline;
	background-color: #33339F;
}

td.banner2{
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:30%;
	height:100%;
}

td.orange{
	background-color: orange;
}

td.green{
	background-color: green;
}

td.red{
	background-color: red;
}

tr.principal_cuerpo{
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:100%;
}

tr.principal_footer{
	background-color: White;
	text-align: center;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:100%;
}

table.cuerpo{
	border-spacing: 0px;
	padding:0px;
	width:100%;
	height:80%;
}

td.cuerpo{
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:15px;
	width:100%;
}

table.footer{
	background-color: Silver;
	text-align: left;
	vertical-align:top;
	width:100%;
	height:100%;
}

td.footer{
	vertical-align:top;
	text-align: left;
}

td.footer2{
	width:12%;
	vertical-align:top;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: blue;
	text-decoration: underline;
}

a.footer{
	text-decoration: none;
	font-size: 13px;
	color: black;
}

a.footer:hover{
	color: blue;
	text-decoration: underline;
}

a.image{
	text-decoration: none;
	border: none;
}

img{
	border: none;
}

td.contact{
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:30%;
}

td.contact2{
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:70%;
}

td.form{
	text-align: right;
	vertical-align:middle;
	margin: 0px;
	border-spacing: 0px;
	padding:10px;
	width:20%;
}

td.form2{
	vertical-align:middle;
	text-align: left;
	margin: 0px;
	border-spacing: 0px;
	padding:10px;
	width:80%;
}

td.form3{
	background-color: white;
	text-align: justify;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
}

input.form{
	width:80%;
	height:35px;
}

td.msg{
	text-align: center;
	vertical-align:middle;
	color: red;
}

table.social{
	background-color: White;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	padding: 0px;
	width: 100%;
}

td.social{
	background-color: white;
	text-align: center;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	width: 50%;
	border-spacing: 0px;
}

td.rsocial{
	background-color: white;
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:0px;
	width:20%;
}

td.rsocial2{
	background-color: white;
	text-align: justify;
	vertical-align: top;
	margin: 0px;
	border-spacing: 0px;
	padding: 0px;
	width: 80%;
}

div.social{
	height: 370px;
	overflow: auto;
	text-align: justify;
}

table.prog{
	background-color: White;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 0px;
	padding: 0px;
	width: 75%;
}

caption.prog{
	text-align: left;
    font-weight: bold;
	padding:5px;
	margin: 0px;
}

td.prog{
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:5px;
	width: 10%;
    font-weight: bold;
}

td.prog2{
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:5px;
	width: 90%;
    font-weight: bold;
	color: #4B53AF;
}

td.prog3{
	text-align: left;
	vertical-align:top;
	margin: 0px;
	border-spacing: 0px;
	padding:7px;
	width: 90%;
    font-style: italic;
}
