BODY {
	text-align : center;
	background-color : White;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: Black;
}

table.lista {
	margin-left: auto;
	margin-right: auto;
}

th{
	font-size: 10px;
	text-align : left;
}

caption {
	font-size: 10px;
	text-align : left;
	font-weight: bold;
}

th.formclient{
	text-align:right;
	width:150px;
}

input.formclient{
	width:400px;
}

input[type="submit"]{
	width:100px;
}

td.ficha{
	width: 120px;
	text-align: center;
	vertical-align: middle;
	background-color: #4B53AF;
	color: white;
	border: 1px solid black;
	height: 30px;
}

.inverse {
	text-align : left;
	background-color : #AAAAAA;
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #32599E;
}

A:LINK, A:VISITED {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #32599E;
	text-decoration : none;
}

A:HOVER {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #32599E;
	text-decoration : none;
}

.targrey{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #32599E;
	text-decoration:underline;
}

.tahomagrey{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #32599E;
}

TD{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
}

.tahomadlack{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
}

.tahomadlackbl{
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#000000;
	font-weight:900;
}

FORM {
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
}

UL,LI {
	padding : 1px 1px 1px 1px;
	margin : 0px 0px 0px 8px;
}

INPUT,TEXTAREA,SELECT {
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: black;
	border : 1px solid Black;
}

.px400 { width : 400px; }
.px300 { width : 300px; }
.px250 { width : 250px; }
.px200 { width : 200px; }
.px150 { width : 150px; }
.px120 { width : 120px; }
.px100 { width : 100px; }
.px80 { width : 80px; }
.px50 { width : 50px; }

.titulo {
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:0;
	filter:dropshadow(color=Silver,offx=1, offy=1, positive=1), glow(color=Silver, strength=1);
	color: #32599E;
}

.titulo-blanco {
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	width:0;
	filter:dropshadow(color=Black,offx=1, offy=1, positive=1), glow(color=Black, strength=1);
	color: White;
}

A:LINK.admin, A:VISITED.admin {
	text-decoration : none;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: White;
}

A:HOVER.admin {
	color: Silver;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-decoration : none;
}

.gris {
	color: #32599E;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.bigcheck {
	border: none;
	height: 40px;
	width: 40px;
	padding: none;
	background: none;
}

table.principal{
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	border-top: 1px solid grey;
	text-align: center;
	width: 100%;
	padding: 2px;
	margin: 2px;
}

table.maestra{
	text-align: center;
	width: 99%;
	padding: 2px;
	margin: 2px;
}

td.menu{
	background-color: #4B53AF;
	color: white;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	width: 150px;
}

td.menu_select{
	background-color: white;
	color: blue;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	width: 150px;
}

td.boton{
	width:100px;
	height:20px;
	text-align:center;
	vertical-align:middle;
	background-color:#4B53AF;
	border:1px solid black;
}

a.menu{
	color: white;
}

a.menu_select{
	color: blue;
}

